*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.back{
    background-color: gray;
}
.top-border{
    
    width: 100%;
    height: 75vh;
    padding-top: 400px;
    padding-left: 910px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('wuthering-waves-2-0-visual.avif');
    background-position: bottom;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
}
.ba{
    margin-right: 50px;
    margin-left: 50px;
}
.header{
    padding: 1rem;
}
a{
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}
.center{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1{
    margin-left: 50px;
    width: 500px;
    text-align: center;
}
.text{
    width: 600px;
    text-align: center;
}
h1{
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: normal;
}
p{
    padding-bottom: 2rem;
    line-height: 30px;
    font-family: 'Arial';
    font-size: large;
    color: gray;
}
button{
    padding: 0.7rem 1rem;
    border: 1px solid rgb(184, 175, 175);
    transition: 0.5s ease-in-out;
}
.s{
    background-color: blue;
    color: white;
}
button:hover{
    background-color: blue;
    color: white;
}
.s:hover{
    background-color: white;
    color: blue;
}
.below{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px);
    gap: 10px;
    padding: 2rem;
    padding-left: 100px;
    padding-right: 100px;
}
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.p1{
    padding-top: 1rem;
}
.p2{
    color: blue;
}
.low-below{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px);
}
.box2{
    padding-left: 2rem;
    font-weight: normal;
}
h4{
    color:rgb(27, 109, 177);
}
.img12a{
    height: 280px;
}
.box1{
    
    object-fit: cover;
    background-size: cover;
    background-position: bottom;
    padding-left: 100px;
}
.b2-des{
    padding-top: 20px;
    width: 500px;
    font-weight: none;
}
.but2{
    margin-left: 400px;
    margin-top: -50px;
}
.a23a{
    margin: 50px;
    justify-self: center;
    color: gray;
    font-weight: 540;
    font-size: 17px;
    
}
@media (max-width: 1025px) {
    .below{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width: 500px) {
    .below{
        grid-template-columns: repeat(1, 1fr);
    }
    .low-below{
        padding: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}